/* Common Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #fbf3ea;
}

h1, h2, h3 {
    font-family: 'Georgia', serif;
}

h3, h4, h5 {
    padding-left: 80px;   /* Adjust this value as needed */
    padding-right: 80px;  /* Adjust this value as needed */
}
a.reference {
    padding: 80px; /* Adjust the value as needed */
    /* Other styling properties */
}


img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.image-container {
    width: 100%; /* or any specific width */
    margin: auto;
    text-align: center; /* Center the container */
}
.image-container img {
    width: 50%; /* or any specific size */
    margin: 10px 0; /* Spacing between images */
}

.image-container img:nth-child(odd) {
    float: left;
}

.image-container img:nth-child(even) {
    float: right;
}

.section {
    margin: 2em auto;
    max-width: 800px;
    padding: 1em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.caption {
    font-size: 0.8em;
    text-align: center;
    color: #666;
}

/* Responsive Grid */
@media screen and (max-width: 768px) {
    .section {
        margin: 1em;
        padding: 0.5em;
    }
}

/* Navigation and Footer */
nav, footer {
    background-color: #630031;
    text-align: center;
    padding: 1em 0;
}

nav a, footer a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover, footer a:hover {
    text-decoration: underline;
}


/* Eventualists Specific Styles */
.eventualists-header {
    color: #000000;
    text-align: center;
}

.eventualists-img {
    border-radius: 10px;
}

.eventualists-text {
    text-align: justify;
    padding-left: 80px;
    padding-right: 80px;
}

/* MeAsmi Specific Styles */
.measmi-header {
    color: #000000;
    text-align: center;
}

.measmi-img {
    border-radius: 10px;
    padding-left: 80px;
    padding-right: 80px;
}

.measmi-text {
    text-align: justify;
    padding-left: 80px;
    padding-right: 80px;
}

.measmi-video {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 10 auto;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 10px;  /* Optional, for rounded corners */
}

/* Prosthetic Hand Specific Styles */
.prosthetic-header {
    color: #000000;
    text-align: center;
}

.prosthetic-img {
    border-radius: 10px;
    padding-left: 80px;
    padding-right: 80px;
}

.prosthetic-text {
    text-align: justify;
    padding-left: 80px;
    padding-right: 80px;
}

.prosthetic-video {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 10px;  /* Optional, for rounded corners */
}

/* Style the footer */
footer {
    background-color: #CF4420;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    color: black;
    text-decoration: none;
}