/* Reset some default styles */
body, h1, h2, ul, p {
    margin: 0;
    padding: 0;
}
h2 {
    padding-top: 25px;
    padding-bottom: 15px;

}
/* Apply background color and font family */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #fbf3ea;
}

/* Style the header */
header {
    background-color: #CF4420;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

/* Style the navigation bar */
nav {
    display: flex;
    justify-content: center;
    background-color: #630031;
    padding: 0.5em;
}

nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* Style the sections */
section {
    padding: 2em;
    max-width: 800px;
    margin: 2em auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Add more space between headers and their descriptions */
section h2 {
    margin-bottom: 20px;
}

/* Style the bullet points */
ul {
    list-style: none;
    padding-left: 1em;
}

ul li:before {
    content: '•';
    margin-right: 10px;
    color: #CF4420;
    font-size: 1.5em;
    line-height: 0.5em;
}

/* Style each job section */
.job {
    margin-bottom: 2em;
    padding: 1em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.job h3, .job h4, .job p {
    margin-bottom: 0.5em;
}

.job h3 {
    font-size: 1.2em;
    font-weight: bold;
}

.job h4 {
    font-size: 1em;
    color: #8B4513;
}

/* Style the footer */
footer {
    background-color: #CF4420;
    color: black;
    text-align: center;
    padding: 1em 0;
}

/* Add a 'back to top' button */
#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #CF4420;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.padded-paragraph {
    padding-top: 5px;
    padding-bottom: 10px;
}

.content {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}

.left-aligned-img {
    width: 50%;
    max-width: 200px;
    margin-right: 20px;
}

.figure-style {
    margin-right: 20px;
    margin-left: 0;
    width: 300%;
    max-width: 200px;
}

.figure-style img {
    width: 100%;
    display: block;
}

.figure-style figcaption {
    text-align: center;
    font-style: italic;
    color: #666;
    font-size: 0.9em;
    margin-top: 5px;
}

@media screen and (max-width: 600px) {
    .content {
        flex-direction: column;
        align-items: flex-start;
    }

    .left-aligned-img, .figure-style {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
}

/* Dropdown Styles */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn::after {
    content: '▼';
    padding-left: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    max-width: 100%;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 12px 16px;
}

.show { display: block; }

.dropbtn.active::after {
    content: '▲';
}
.dropdown-content {
    /* Existing styles... */
    position: relative; /* Add this for positioning the Show Less button */
}

/* Style for Show Less button */
.show-less {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.course-lists {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.course-lists ul {
    list-style-type: none;
    padding: 0;
}

.course-lists ul li {
    margin-bottom: 10px;
    padding: 5px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.licenses-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.license-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.license-item {
    margin-bottom: 20px; /* Space between each item */
    text-align: center;
}

.license-img {
    max-width: 100px; /* Adjust as needed */
    height: auto;
    border-radius: 5px; /* Optional, for rounded corners */
    margin-bottom: 10px; /* Space between image and caption */
}

figcaption {
    margin-bottom: 5px;
}